.cta {
  background: linear-gradient(135deg,#1d4ed8,#2563eb);
  color: white;
  padding: 80px 20px;
  border-radius: 24px;
  text-align: center;
}

.cta h2 {
  font-size: 2.2rem;
  font-weight: 800;
}

.cta button {
  margin-top: 25px;
  background: white;
  color: #1d4ed8;
  padding: 14px 30px;
  border-radius: 14px;
  font-weight: 700;
  transition: .3s;
}

.cta button:hover {
  transform: scale(1.05);
}
